.foot {
  font-family: roboto;
  font-size: 4dvw;
  text-align: center;
  position: relative;
  height: 17dvh;
  width: 100%;
  bottom: 0;
  padding-top: 5dvh;
  color: transparent;
  -webkit-text-fill-color: transparent; // prise en charge des navigateurs WebKit
  background-image: var(--logo-color-gradient-dt);
  background-clip: text;
  -webkit-background-clip: text; // prise en charge des navigateurs WebKit
}
.logo-link {
  display: flex;
  justify-content: space-around;
}

.logo-link-od img {
  width: 7dvw;
  height: auto;
  max-width: 100%;
}

.logo-link-emg img {
  width: 20dvw;
  height: auto;
  max-width: 100%;
}
.logo-link-linkedin img {
  width: 5.5dvw;
  height: auto;
  max-width: 100%;
}
.link {
  display: flex;
  flex-direction: column;
  .all-right {
    color: var(--color-yellow);
  }
}
a.terms-menu-link {
  color: var(--color-yellow);
}
a.privacy-menu-link {
  color: var(--color-yellow);
}

@media screen and (min-width: 600px) {
  .foot {
    height: 30dvh;
  }

  .link {
    gap: 1dvw;
    font-size: 2dvw;
  }

  .logo-link-od img {
    width: 2dvw;
    height: auto;
    max-width: 100%;
  }

  .logo-link-emg img {
    width: 6dvw;
    height: auto;
    max-width: 100%;
  }
  .logo-link-linkedin img {
    width: 2dvw;
    height: auto;
    max-width: 100%;
  }

  .privacy-menu-link {
    color: var(--logo-color-gradient-dt);
    font-size: 1.2dvw;
  }

  .terms-menu-link {
    font-size: 1.2dvw;
  }

  .all-right {
    font-size: 1.2dvw;
  }

  .logo-link {
    margin-bottom: 3dvh;
    display: flex;
    justify-content: center;
    gap: 10dvw;
  }
}
